**/.git
**/.github
**/node_modules
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.env
**/.venv
**/venv
**/dist
**/build
**/*.egg-info
**/.mypy_cache
**/.pytest_cache
**/.vscode
**/tmp
**/*.log
**/*.sqlite3
**/static
**/media
**/tests
**/docs
**/Frontend/node_modules
**/Frontend/.next